<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipment_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,96}</string>
                <key>spriteSourceSize</key>
                <string>{171,96}</string>
                <key>textureRect</key>
                <string>{{72,554},{171,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_class_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{123,784},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{255,681},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,182}</string>
                <key>spriteSourceSize</key>
                <string>{181,182}</string>
                <key>textureRect</key>
                <string>{{72,370},{181,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{72,652},{130,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,120}</string>
                <key>spriteSourceSize</key>
                <string>{131,120}</string>
                <key>textureRect</key>
                <string>{{1,784},{131,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_list_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,61}</string>
                <key>spriteSourceSize</key>
                <string>{342,61}</string>
                <key>textureRect</key>
                <string>{{269,1},{342,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_list_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{206,753},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_list_bg_decorates.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,41}</string>
                <key>spriteSourceSize</key>
                <string>{309,41}</string>
                <key>textureRect</key>
                <string>{{255,370},{309,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_list_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,59}</string>
                <key>spriteSourceSize</key>
                <string>{342,59}</string>
                <key>textureRect</key>
                <string>{{11,370},{342,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_list_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,26}</string>
                <key>spriteSourceSize</key>
                <string>{304,26}</string>
                <key>textureRect</key>
                <string>{{298,345},{304,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_name_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{223,859},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_name_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{269,852},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_name_bg_decorates.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,32}</string>
                <key>spriteSourceSize</key>
                <string>{59,32}</string>
                <key>textureRect</key>
                <string>{{254,761},{59,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_name_bg_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{177,864},{48,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mages_class_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{206,652},{48,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mages_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{258,795},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minister_class_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,45}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{206,702},{49,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minister_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{203,801},{56,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_stage_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,367}</string>
                <key>spriteSourceSize</key>
                <string>{256,367}</string>
                <key>textureRect</key>
                <string>{{11,1},{256,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{269,893},{20,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slider_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,702}</string>
                <key>spriteSourceSize</key>
                <string>{8,702}</string>
                <key>textureRect</key>
                <string>{{1,1},{8,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_class_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{123,864},{49,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warrior_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{56,59}</string>
                <key>textureRect</key>
                <string>{{1,714},{56,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heroSelect.png</string>
            <key>size</key>
            <string>{332,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d34b8ef4ae2d152b12a125d9cff73a2:82bb16516a53f6fa5b4b31c743d3e2cb:76a2cfdff18db07000188e82f15ef49c$</string>
            <key>textureFileName</key>
            <string>heroSelect.png</string>
        </dict>
    </dict>
</plist>
