<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenjingchou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaojing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{1,93},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>surongrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,105}</string>
                <key>spriteSourceSize</key>
                <string>{140,105}</string>
                <key>textureRect</key>
                <string>{{1,277},{140,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuxiaoxue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,90}</string>
                <key>textureRect</key>
                <string>{{1,185},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heroIcon.png</string>
            <key>size</key>
            <string>{122,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:434ae0eabddda950a84810af9b4a9e90:6577e381282590b71fe07a92f34e09e1:bd2a985a614f37a26e549e6e03cf4027$</string>
            <key>textureFileName</key>
            <string>heroIcon.png</string>
        </dict>
    </dict>
</plist>
