<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{275,86},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decorates2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,126}</string>
                <key>spriteSourceSize</key>
                <string>{272,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decorates3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,52}</string>
                <key>spriteSourceSize</key>
                <string>{225,52}</string>
                <key>textureRect</key>
                <string>{{347,1},{225,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decorates4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,42}</string>
                <key>spriteSourceSize</key>
                <string>{140,42}</string>
                <key>textureRect</key>
                <string>{{764,1},{140,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decorates5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,5}</string>
                <key>spriteSourceSize</key>
                <string>{804,5}</string>
                <key>textureRect</key>
                <string>{{275,109},{804,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{874,45},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mantain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{874,68},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{897,45},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,83}</string>
                <key>spriteSourceSize</key>
                <string>{15,83}</string>
                <key>textureRect</key>
                <string>{{275,1},{15,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_server_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{292,1},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select_server_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,48}</string>
                <key>spriteSourceSize</key>
                <string>{241,48}</string>
                <key>textureRect</key>
                <string>{{298,56},{241,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,42}</string>
                <key>spriteSourceSize</key>
                <string>{188,42}</string>
                <key>textureRect</key>
                <string>{{574,1},{188,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,47}</string>
                <key>spriteSourceSize</key>
                <string>{331,47}</string>
                <key>textureRect</key>
                <string>{{541,55},{331,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectServer.png</string>
            <key>size</key>
            <string>{1080,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f48d4610ede523c8f569edb890eaa8f1:d196a1953f0fbb1f3fe82f901208f1e5:4e92c2e43319a854b72b9b08e99f8eb8$</string>
            <key>textureFileName</key>
            <string>selectServer.png</string>
        </dict>
    </dict>
</plist>
