<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{289,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{238,330}</string>
                <key>spriteSourceSize</key>
                <string>{262,330}</string>
                <key>textureRect</key>
                <string>{{1,379},{238,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,83}</string>
                <key>spriteSourceSize</key>
                <string>{33,83}</string>
                <key>textureRect</key>
                <string>{{267,832},{33,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_level_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{352,832},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_select_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,264}</string>
                <key>spriteSourceSize</key>
                <string>{201,264}</string>
                <key>textureRect</key>
                <string>{{1,711},{201,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_select_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,376}</string>
                <key>spriteSourceSize</key>
                <string>{286,376}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{289,204},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{241,407},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{463,407},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{267,867},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_artifact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{241,610},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{241,379},{26,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{408,832},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_talent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{463,447},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanwufusu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{267,610},{220,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{510,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a4f8b5cb8aed616539d148c1401a81:a00a621a70849d65263dd0c56cc7ef39:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
